experiments/vcf-to-hapl-to-efg/output
experiments/vcf-to-hapl-to-efg/chr22_uppercase.fasta
experiments/vcf-to-hapl-to-efg/1KGP.CHM13v2.0.chr22.recalibrated.snp_indel.pass.phased.vcf.gz

tools/efg-locate/efg-locate
tools/efg-locate/test/output-*

test/*.gaf

experiments/aligner-evaluation/scripts/__pycache__
experiments/aligner-evaluation/input/*
experiments/aligner-evaluation/semi-repeat-free/output
