experiments/vcf-to-hapl-to-efg/output
experiments/vcf-to-hapl-to-efg/chr22_uppercase.fasta
experiments/vcf-to-hapl-to-efg/1KGP.CHM13v2.0.chr22.recalibrated.snp_indel.pass.phased.vcf.gz
experiments/vcf-to-hapl-to-efg/1KGP.CHM13v2.0.chr22.recalibrated.snp_indel.pass.phased.vcf.gz.tbi
experiments/vcf-to-hapl-to-efg/chm13v2.0.fa.gz
experiments/vcf-to-hapl-to-efg/phased_T2T_panel.tar
experiments/vcf-to-hapl-to-efg/chr22_iEFG.gfa

tools/efg-locate/efg-locate
tools/efg-locate/test/output-*

tools/ChainX-block-graph/chainx-block-graph
tools/ChainX-block-graph/test/output-*

tools/efg-gaf-splitter/efg-gaf-splitter

tools/efg-ahocorasick/efg-ahocorasick
tools/efg-ahocorasick/extractor

tools/efg-simplify/efg-simplify

test/*.gaf

experiments/aligner-evaluation/scripts/__pycache__
experiments/aligner-evaluation/input/*
experiments/aligner-evaluation/semi-repeat-free/output
experiments/aligner-evaluation/chaining/output
experiments/aligner-evaluation/final/output
experiments/aligner-evaluation/mems/output
experiments/aligner-evaluation/vg-comparison/output

experiments/msa-validation/tmp*
experiments/msa-validation/output_stats.txt
