[submodule "tools/founderblockgraphs"]
	path = tools/founderblockgraphs
	url = https://github.com/algbio/founderblockgraphs.git
[submodule "tools/vcf2multialign"]
	path = tools/vcf2multialign
	url = https://github.com/tsnorri/vcf2multialign
[submodule "tools/concurrentqueue"]
	path = tools/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "tools/sdsl-lite-v3"]
	path = tools/sdsl-lite-v3
	url = https://github.com/xxsds/sdsl-lite
[submodule "tools/Badread"]
	path = tools/Badread
	url = https://github.com/rrwick/Badread
[submodule "tools/GraphChainer"]
	path = tools/GraphChainer
	url = https://github.com/algbio/GraphChainer
[submodule "tools/minichain"]
	path = tools/minichain
	url = https://github.com/at-cg/minichain
	ignore = untracked
[submodule "tools/minigraph"]
	path = tools/minigraph
	url = https://github.com/lh3/minigraph
[submodule "tools/efg-mems"]
	path = tools/efg-mems
	url = https://github.com/algbio/efg-mems
	branch = mapped-output
[submodule "tools/GraphAligner"]
	path = tools/GraphAligner
	url = https://github.com/maickrau/GraphAligner
[submodule "tools/edlib"]
	path = tools/edlib
	url = https://github.com/Martinsos/edlib
[submodule "tools/seqtk"]
	path = tools/seqtk
	url = https://github.com/lh3/seqtk
	ignore = untracked
